.rc--inner_header {
  background: #eeeeee;
  border-top: 20px solid white;
}

.navbar-shopping_cart {
  font-size: 18px;
  color: black;
}

.navbar-hamburger_bar {
  font-size: 18px;
  color: black;
}

.navbar-hamburger_brand {
  height: 40px;
  left: 50%;
  position: absolute;
  top: 5px;
  transform: translateX(-50%);
  -moz-transform: -moz-translateX(-50%);
  -webkit-transform: -webkit-translateX(-50%);
}


/*
  overwriting properties of navbar of bootstrap
*/

.rc--inner_header .navbar-toggle {
  margin-top: 5px;
  margin-bottom: 5px;
}
