.page-wrapper {
  padding: 60px 10px;
}

/*
  Inner page has header fixed on top, so
  need to add some space on top.
*/

.rc--inner_header + [id="load-container"] {
  padding-top: 50px;
}

.page-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
